li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu {
    width: 620px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.menu-item-a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    letter-spacing: 2.7px;
    text-transform: uppercase;

}

.content-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    padding: 30px 0;
}

.content-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 0px 50px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.get-started {
    margin-top: 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.footer-text {
    margin-top: 35px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    display: flex;
    justify-content: flex-end;
    padding: 45px 50px;
}
